[Desktop Entry]
Version=1.0
Type=Application
Name=Package Manager
Comment=Interactive fzf interface for Pacman and Paru
Exec=pkg-fzf-installer
Icon=system-software-install
Terminal=true
Categories=System;
